In [3]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# --- 1. Dataset Kursus Dummy ---
# Membuat dataset dummy minimal 5 data
courses_data = [
    {
        "judul": "Python for Data Analysis and Visualization",
        "deskripsi": "Pelajari Python untuk analisis data, visualisasi, dan machine learning dasar. Cocok untuk calon data analyst.",
        "platform": "Coursera"
    },
    {
        "judul": "UI/UX Design Fundamentals",
        "deskripsi": "Kursus ini mencakup prinsip-prinsip desain UI/UX, user research, wireframing, dan prototyping. Ideal untuk aspiring UI/UX designer.",
        "platform": "Udemy"
    },
    {
        "judul": "Advanced SQL for Data Scientists",
        "deskripsi": "Kuasi SQL tingkat lanjut untuk manipulasi data kompleks dan optimasi query. Penting untuk data scientists dan data analysts.",
        "platform": "edX"
    },
    {
        "judul": "Web Development with React and Node.js",
        "deskripsi": "Bangun aplikasi web full-stack menggunakan React.js untuk frontend dan Node.js untuk backend. Cocok untuk web developer.",
        "platform": "Dicoding"
    },
    {
        "judul": "Machine Learning Engineering for Production (MLOps)",
        "deskripsi": "Pelajari cara deploy, monitor, dan maintain model machine learning di produksi. Penting untuk machine learning engineer.",
        "platform": "Coursera"
    },
    {
        "judul": "Fundamental of Digital Marketing",
        "deskripsi": "Pelajari strategi pemasaran digital, SEO, SEM, dan media sosial. Penting untuk digital marketer.",
        "platform": "Google Skillshop"
    },
    {
        "judul": "Mobile App Development with Flutter",
        "deskripsi": "Kembangkan aplikasi mobile cross-platform yang indah dan berperforma tinggi dengan Flutter. Cocok untuk mobile developer.",
        "platform": "Udemy"
    }
]

courses_df = pd.DataFrame(courses_data)

### Introduction

In [4]:
# Load the datasets
courses_classentral_df = pd.read_csv("courses_classentral.csv")
jobstreet_df = pd.read_csv("jobstreet.csv")

courses_classentral_df.head()

,Title,Category,Provider,Language,Certificate,Average Rating,Price Type,Reviews,Duration,Overview,Link,Cleaned Title,Cleaned Category,Cleaned Provider,Cleaned Language,Cleaned Certificate,Cleaned Price Type,Cleaned Overview
0,Introduction to Data Science in Python,Data Science,Coursera,English,Certificate Available,2.4,Free,46 reviews,1 day 10 hours 52 minutes,"Learn Python fundamentals, data manipulation w...",https://www.classcentral.comhttps://www.classc...,introduct data scienc python,data scienc,coursera,english,certif avail,free,learn python fundament data manipul panda basi...
1,A Crash Course in Data Science,Data Science,Coursera,English,Certificate Available,3.6,Free,25 reviews,6 hours 4 minutes,"Rapid introduction to data science essentials,...",https://www.classcentral.comhttps://www.classc...,crash cours data scienc,data scienc,coursera,english,certif avail,free,rapid introduct data scienc essenti cover key ...
2,Python for Data Science,Data Science,edX,English,No Certificate,4.4,Free,48 reviews,"10 weeks, 8-10 hours a week","Learn to use powerful, open-source, Python too...",https://www.classcentral.comhttps://www.classc...,python data scienc,data scienc,edx,english,certif,free,learn use power opensourc python tool includ p...
3,Data Science Math Skills,Data Science,Coursera,English,Certificate Available,4.1,Free,12 reviews,13 hours 20 minutes,Master essential math concepts for data scienc...,https://www.classcentral.comhttps://www.classc...,data scienc math skill,data scienc,coursera,english,certif avail,free,master essenti math concept data scienc set th...
4,Programming for Data Science with Python,Data Science,Udacity,English,Certificate Available,4.8,Paid,28 reviews,2 months 2 weeks 4 days 8 hours 43 minutes,"Master SQL, Python, and version control for da...",https://www.classcentral.comhttps://www.classc...,program data scienc python,data scienc,udac,english,certif avail,paid,master sql python version control data analysi...

In [5]:
jobstreet_df.head()

,Title,Company,Country,Location,Category,Work Type,Salary,Requirements,Description,Cleaned Title,Cleaned Company,Cleaned Country,Cleaned Location,Cleaned Category,Cleaned Work Type,Cleaned Salary,Cleaned Requirements,Cleaned Description,Link
0,Data Scientist,Western Digital Tech and Regional Center (M) S...,MALAYSIA,Kuala Lumpur,"Mathematics, Statistics & Information Sciences...",Full time,Not specified,"Meeting users, gathering user requirements and...",Job Description\nResponsibilities\nWork with d...,data scientist,western digit tech region center sdn bhd,malaysia,kuala lumpur,mathemat statist inform scienc scienc technolog,full time,specifi,meet user gather user requir commun requir tec...,job descript respons work data scientist data ...,https://my.jobstreet.com/job/85371197?type=sta...
1,Senior Data Scientist - GenAI (Hybrid Working),SEEK,MALAYSIA,Kuala Lumpur (Hybrid),Other (Information & Communication Technology),Full time,Not specified,"Qualifications | Essential Qualifications, Ski...","Company Description\nAbout SEEK\nAt SEEK, we s...",senior data scientist genai hybrid work,seek,malaysia,kuala lumpur hybrid,inform commun technolog,full time,specifi,qualif essenti qualif skill experi msc phd qua...,compani descript seek seek serv nobl purpos he...,https://my.jobstreet.com/job/85896672?type=sta...
2,Data Scientist,Sedgwick Singapore Pte Ltd,MALAYSIA,"Kuala Lumpur City Centre, Kuala Lumpur","Mathematics, Statistics & Information Sciences...",Full time,Not specified,Education/Qualifications: | Tertiary qualifica...,"As a Data Scientist, you will play a critical ...",data scientist,sedgwick singapor pte ltd,malaysia,kuala lumpur citi centr kuala lumpur,mathemat statist inform scienc scienc technolog,full time,specifi,educationqualif tertiari qualif relev field eg...,data scientist play critic role develop implem...,https://my.jobstreet.com/job/85936726?type=sta...
3,Data Science Engineer,Jabil Circuit Sdn Bhd,MALAYSIA,Penang,Engineering - Software (Information & Communic...,Full time,Not specified,Educational Qualifications | Additional Requir...,Roles and Responsibility\nData Analysis: Perfo...,data scienc engin,jabil circuit sdn bhd,malaysia,penang,engin softwar inform commun technolog,full time,specifi,educ qualif addit requir,role respons data analysi perform thorough dat...,https://my.jobstreet.com/job/85468501?type=sta...
4,Data Scientist,TECHTIERA SDN. BHD.,MALAYSIA,Kuala Lumpur,Engineering - Software (Information & Communic...,Contract/Temp,"RM 9,333 – RM 14,000 per month",Responsibilities & Requirements: | Collaborate...,Responsibilities & Requirements:\nProven exper...,data scientist,techtiera sdn bhd,malaysia,kuala lumpur,engin softwar inform commun technolog,contracttemp,rm rm per month,respons requir collabor crossfunct team unders...,respons requir proven experi machin learn engi...,https://my.jobstreet.com/job/85811513?type=sta...

In [6]:
# Display information about the dataframes
print("--- Info for courses_classentral.csv ---")
courses_classentral_df.info()

print("\n--- Info for jobstreet.csv ---")
jobstreet_df.info()

--- Info for courses_classentral.csv ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6919 entries, 0 to 6918
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                6919 non-null   object
 1   Category             6919 non-null   object
 2   Provider             6919 non-null   object
 3   Language             6919 non-null   object
 4   Certificate          6919 non-null   object
 5   Average Rating       6919 non-null   float64
 6   Price Type           6919 non-null   object
 7   Reviews              6919 non-null   object
 8   Duration             6622 non-null   object
 9   Overview             6919 non-null   object
 10  Link                 6919 non-null   object
 11  Cleaned Title        6882 non-null   object
 12  Cleaned Category     6919 non-null   object
 13  Cleaned Provider     6919 non-null   object
 14  Cleaned Language     6919 non-null   object
 15  Cleaned Certificate  6919 non-null   object
 16  Cleaned Price Type   6919 non-null   object
 17  Cleaned Overview     6877 non-null   object
dtypes: float64(1), object(17)
memory usage: 973.1+ KB

--- Info for jobstreet.csv ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Title                 576 non-null    object
 1   Company               576 non-null    object
 2   Country               576 non-null    object
 3   Location              576 non-null    object
 4   Category              576 non-null    object
 5   Work Type             576 non-null    object
 6   Salary                576 non-null    object
 7   Requirements          576 non-null    object
 8   Description           576 non-null    object
 9   Cleaned Title         576 non-null    object
 10  Cleaned Company       576 non-null    object
 11  Cleaned Country       576 non-null    object
 12  Cleaned Location      576 non-null    object
 13  Cleaned Category      576 non-null    object
 14  Cleaned Work Type     576 non-null    object
 15  Cleaned Salary        571 non-null    object
 16  Cleaned Requirements  576 non-null    object
 17  Cleaned Description   576 non-null    object
 18  Link                  576 non-null    object
dtypes: object(19)
memory usage: 85.6+ KB

### Data Cleaning

In [7]:
#now checking the NaN values
courses_classentral_df.isnull().sum()

Title                    0
Category                 0
Provider                 0
Language                 0
Certificate              0
Average Rating           0
Price Type               0
Reviews                  0
Duration               297
Overview                 0
Link                     0
Cleaned Title           37
Cleaned Category         0
Cleaned Provider         0
Cleaned Language         0
Cleaned Certificate      0
Cleaned Price Type       0
Cleaned Overview        42
dtype: int64

In [8]:
# Drop rows with null values in the 'Cleaned Overview' column
courses_classentral_df.dropna(subset=['Cleaned Overview'], inplace=True)

# Verify the null values are dropped
print("--- Null values after dropping rows with null 'Cleaned Overview' ---")
print(courses_classentral_df.isnull().sum())

--- Null values after dropping rows with null 'Cleaned Overview' ---
Title                    0
Category                 0
Provider                 0
Language                 0
Certificate              0
Average Rating           0
Price Type               0
Reviews                  0
Duration               287
Overview                 0
Link                     0
Cleaned Title           17
Cleaned Category         0
Cleaned Provider         0
Cleaned Language         0
Cleaned Certificate      0
Cleaned Price Type       0
Cleaned Overview         0
dtype: int64

In [9]:
jobstreet_df.isnull().sum()

Title                   0
Company                 0
Country                 0
Location                0
Category                0
Work Type               0
Salary                  0
Requirements            0
Description             0
Cleaned Title           0
Cleaned Company         0
Cleaned Country         0
Cleaned Location        0
Cleaned Category        0
Cleaned Work Type       0
Cleaned Salary          5
Cleaned Requirements    0
Cleaned Description     0
Link                    0
dtype: int64

In [10]:
jobstreet_df.dropna(inplace=True)

### Feature Engineering

In [11]:
# Join cleaned columns for courses_classentral_df
cleaned_course_columns = [col for col in courses_classentral_df.columns if col.startswith('Cleaned')]
courses_classentral_df['cleaned_text'] = courses_classentral_df[cleaned_course_columns].fillna('').agg(' '.join, axis=1)

# Join cleaned columns for jobstreet_df
cleaned_job_columns = [col for col in jobstreet_df.columns if col.startswith('Cleaned')]
jobstreet_df['cleaned_text'] = jobstreet_df[cleaned_job_columns].fillna('').agg(' '.join, axis=1)

# Display the first few rows with the new column
print("--- courses_classentral_df with cleaned_text ---")
display(courses_classentral_df[['Title', 'cleaned_text']].head())

print("\n--- jobstreet_df with cleaned_text ---")
display(jobstreet_df[['Title', 'cleaned_text']].head())

--- courses_classentral_df with cleaned_text ---

,Title,cleaned_text
0,Introduction to Data Science in Python,introduct data scienc python data scienc cours...
1,A Crash Course in Data Science,crash cours data scienc data scienc coursera e...
2,Python for Data Science,python data scienc data scienc edx english cer...
3,Data Science Math Skills,data scienc math skill data scienc coursera en...
4,Programming for Data Science with Python,program data scienc python data scienc udac en...

--- jobstreet_df with cleaned_text ---

,Title,cleaned_text
0,Data Scientist,data scientist western digit tech region cente...
1,Senior Data Scientist - GenAI (Hybrid Working),senior data scientist genai hybrid work seek m...
2,Data Scientist,data scientist sedgwick singapor pte ltd malay...
3,Data Science Engineer,data scienc engin jabil circuit sdn bhd malays...
4,Data Scientist,data scientist techtiera sdn bhd malaysia kual...

In [12]:
courses_classentral_df.iloc[0, -1]

'introduct data scienc python data scienc coursera english certif avail free learn python fundament data manipul panda basic statist analysi gain practic skill clean process analyz tabular data data scienc applic'

### Modeling

In [13]:
# --- 2. Pembersihan dan Vektorisasi Teks ---
# Menggabungkan judul dan deskripsi untuk representasi teks yang lebih kaya
# courses_df['teks_gabungan'] = courses_df['judul'] + " " + courses_df['deskripsi']

# Pilihan Vektorisasi: TF-IDF atau SentenceTransformer
# Untuk contoh ini, kita akan menggunakan kedua metode secara terpisah untuk demonstrasi

# --- Pendekatan 2a: Menggunakan TF-IDF ---
print("--- Menggunakan TF-IDF ---")
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
# Fitur TF-IDF dari teks gabungan
tfidf_matrix = tfidf_vectorizer.fit_transform(courses_classentral_df['cleaned_text'])

def recommend_courses_tfidf(query, tfidf_matrix, courses_df, vectorizer, top_n=3):
    """
    Merekomendasikan kursus menggunakan TF-IDF dan cosine similarity.
    """
    # Vektorisasi query pekerjaan
    query_vector = vectorizer.transform([query])

    # Hitung cosine similarity antara query dan semua deskripsi kursus
    cosine_similarities = cosine_similarity(query_vector, tfidf_matrix).flatten()

    # Dapatkan indeks kursus dengan similaritas tertinggi
    related_course_indices = cosine_similarities.argsort()[:-top_n-1:-1]

    # Tampilkan hasil rekomendasi
    print(f"\nKursus yang direkomendasikan untuk '{query}':")
    count = 0
    for i in related_course_indices:
        if cosine_similarities[i] >= 0.5 and count < top_n:
            print(f"- Judul: {courses_df['Title'].iloc[i]}")
            print(f"  Platform: {courses_df['Provider'].iloc[i]}")
            print(f"  Skor Similarity: {cosine_similarities[i]:.4f}")
            print("-" * 20)
            count += 1
        elif count == top_n:
            break
    if count == 0:
        print("No recommendations with a similarity score of 0.5 or higher.")

# Contoh penggunaan TF-IDF
recommend_courses_tfidf("data scientist", tfidf_matrix, courses_classentral_df, tfidf_vectorizer)

--- Menggunakan TF-IDF ---

Kursus yang direkomendasikan untuk 'data scientist':
- Judul: Data Scientist in R
  Platform: DataCamp
  Skor Similarity: 0.6815
--------------------
- Judul: Data Scientist in Python
  Platform: DataCamp
  Skor Similarity: 0.5998
--------------------
- Judul: Associate Data Scientist in Python
  Platform: DataCamp
  Skor Similarity: 0.5293
--------------------

In [14]:
import pickle

# Menggunakan pickle untuk menyimpan matriks NumPy
with open('item_similarity_matrix.pkl', 'wb') as f:
    pickle.dump(tfidf_matrix, f)
print("Matriks kemiripan item berhasil disimpan sebagai 'item_similarity_matrix.pkl'")

# Jika Anda juga ingin menyimpan vectorizer (penting untuk kueri baru)
with open('tfidf_vectorizer.pkl', 'wb') as f:
    pickle.dump(tfidf_vectorizer, f)
print("TF-IDF vectorizer berhasil disimpan sebagai 'tfidf_vectorizer.pkl'")

Matriks kemiripan item berhasil disimpan sebagai 'item_similarity_matrix.pkl'
TF-IDF vectorizer berhasil disimpan sebagai 'tfidf_vectorizer.pkl'